html {
	background: linear-gradient(#00d, #005);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#header {
	display: flex;
	background: linear-gradient(#ddd, #999);
}