html {
	background: #181818;
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	color: #FFF;
	
	font-family: 'Open Sans', sans-serif;
	display: table;
    margin: auto;
    max-width: 100%;
    overflow-x: hidden;
}
body {
	height: 100%;
	display: table-cell;
    vertical-align: middle;

    text-align: center;
}
h1 {
	letter-spacing: 2px;
	font-size: 2em;
    margin-bottom: 0;
}
h2 {
    font-size: 1em;
}
ul {
	font-size: 1.25em;
    padding: 0;
    vertical-align: middle;
}
@media (min-width:961px) {
    html {
        font-size: 20px;
    }
    li {
       border-right: 3px solid white;
    }
} 
@media (max-width:960px) {
    html {
        font-size: 17px;
    }
    li {
        width: 90%;
    }
}
li {
    display: inline-block;
    
    margin: 0;
    padding: 0em 1em;
}
li:last-child {
    border-right: none;
}
.bg-container {
    display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.bg-img {
	width: 400px;
	max-width: 50%;
}
.btn {
	display: inline-block;
	margin: 0.5em 0.5em;
}
.btn:hover {
	opacity: 0.5;
	transition: all 0.25s ease-in-out;
}
.btn img {
	width: 2.5em;
	height: 2.5em;
}