html {
	background: linear-gradient(#00d, #005);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html, body {
	margin: 0px;
	padding: 0px;
}
#header {
	display: flex;
	background: linear-gradient(#ddd, #999);
}
#header a:link, a:visited {
	background-color: #eee;
	margin: 10px;
	flex-grow: 1;
	align-self: center;
	
	color: black;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}
#header a:hover {
	background-color: #fff;
	box-shadow: 5px 5px 10px;
}